.form {
    margin-top: 3rem;
}

.clogin {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
}

.cadastro {
    color: #bd7b2a;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: all 0.6s ease;
}

.cadastro:hover {
    color: #ddd;
}

.cadastro p {
    margin: 1rem 0;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-family: var(--type-second);
    line-height: 1;
    font-size: 3rem;
}
.subtitle::after {
    content: '';
    display: block;
    background: #ddd;
    height: 1rem;
    width: 5rem;
    border-radius: 0.3rem;
}

.perdeu {
    color: #bd7b2a;
    margin-left: 1em;
    text-decoration: none;
    transition: all 0.6s ease;
}

.perdeu:hover {
    color: #ddd;
}
